.miniButtonIcon {
    background-image: url("images/buttons.jpg");
    position: relative;
    height: 28px;
    width: 28px;
}


.buttonIcon {
    background-image: url("images/buttons.jpg");
    position: relative;
    height: 28px;
    width: 28px;
    opacity: 0.4;
    cursor: default;
}

.buttonIcon:hover {
    opacity: 1;
}

.buttonIcon-disabled {
    opacity: 0.2;
}

.buttonIcon-disabled:hover {
    opacity: 0.2;
}

.buttonIconPlus {
    background-position: -168px -314px;
}

.buttonIconEdit {
    background-position: -547px -222px;
}

.buttonIconRemove {
    background-position: -318px -222px;
}

.buttonIconUp {
    background-position: -250px -130px;
}

.buttonIconDown {
    background-position: -250px -130px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.div-button {
   float: left;
   margin-right: 15px;
}

/*.div-button:hover {*/
    /*float: left;*/
    /*!*box-shadow: 7px 7px 7px #747474;*!*/
    /*!*border: solid gray 1px;*!*/
/*}*/