html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

.mainContainer {
    width: 100%;
    height: 100%;
    background-color: white;
}

.lockScreen{
    background: black;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    opacity: .4;
    filter: alpha(opacity=40);
}
