.miniIcon {
    background-image: url("../models/textures/gui/buttons/war-icons-min.png");
    left: 50%;
    position: relative;
    height: 26px;
    margin-left: -14px;
    width: 26px;
}

.iconCrossedOverSword{
    background-image: url("../models/textures/gui/buttons/crossedOverSwords.png");
    background-position: -0px -0px;
    background-size: contain;
}

.iconHelm {
    background-position: -0px -0px;
}

.iconPortal {
    background-position: -28px -0px;
}

.iconFight {
    background-position: -56px -0px;
}

.iconSkull {
    background-position: -85px -0px;
}

.iconKiteShield {
    background-position: -113px -0px;
}

.iconBlacksmith {
    background-position: -169px -0px;
}

.iconMoney {
    background-position: -198px -0px;
}

.iconArena {
    background-position: -226px -0px;
}

.iconEquipment {
    background-position: -254px -0px;
}

.iconPart {
    background-position: -141px -0px;
}

.iconHelm {
    background-position: -0px -0px;
}
