.indexContainer {
    width: 100%;
    height: 100%;
}

.indexHorizontalContainer {
    width: 100%;
    height: 1px;
}

.catalogContainer {
    width: 1px;
    background-color: #4cae4c;
}

.pageContextContainer{
    width: 4096px;
    padding-top: 10px;
    background-color: white;
}

body, html {
    width: 100%;
    height: 100%;
    min-width: 910px;
}

