.mainContainer {
    width: 100%;
    height: 100%;
    background-color: white;
}

.anyFormContainer {
    width: 560px;
    background-color: #f2f2af;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -280px;
    margin-top: -200px;
    padding: 10px;
    round-clip: 3px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #b4b4b4;
}

.loginFormContainer{
    height: 225px;
}

.registerFormContainer{
    height: 380px;
}

.restorePasswordFormContainer{
    height: 305px;
}

.loginFormTable {
    width: 100%;
    height: 100%;
    /*margin: 10px;*/

    /*background-color: #1b6d85;*/
}

.loginFormHeader {
    height: 40px;
    /*background-color: #2b669a;*/
    text-align: center;
    font-size: 28px;

}

.loginFormFieldTitle {
    width: 200px;
    font-size: 22px;
    padding-top: 20px;
}

.restorePasswordFormFieldTitle {
    width: 250px;
    font-size: 22px;
    padding-top: 20px;
}

.loginFormFieldButtonContainer{
    height: 80px;
}

.resetPasswordButton{
    width: 180px;
}

.registerButton{
    width: 140px;
}

.loginButton{
    width: 150px;
}

.cancelButton {
    width: 150px;
}

.button{
    height: 30px;
    font-size: 20px;
    border-radius: 7px;
    margin-left: 20px;
}

input{
    height: 25px;
    width: 330px;
    font-size: 22px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.overlay {
    background: black;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    opacity: .4;
    filter: alpha(opacity=40);
}
