.joinedPlayerPlate {
    border-radius: 4px;
    margin: 20px 13px 26px 10px;
    background-color: rgba(173, 0, 255, .5);
    box-shadow: 0px 0px 4px 4px rgba(173, 0, 255, 0.5);
    width: 300px;
    color: yellow;
    padding-left: 17px;
    cursor: default;
}

.selectWarriorTableRowSelected {
    box-shadow: 0px 0px 2px 2px rgba(173, 0, 255, .5);
    background-color: rgba(173, 0, 255, .5);

}

.selectWarriorTableRowSelected td select {
    box-shadow: 0px 0px 2px 2px rgba(173, 0, 255, .5);
    background-color: rgba(173, 0, 255, .5);

}

