.catalogPanel {
    width: 300px;
    height: 100%;
    background-color: white;
    padding-top: 13px;
}

.catalogPanel h1{
    font-size: 23px;
    color: red;
    padding-left: 10px;
    margin-top: 0;
}

.catalogPanel h2{
    font-size: 19px;
    color: orange;
    padding-left: 30px;
    margin-top: 0;
}

.groupContentContainer {
    float: left;
    width: 100%;
    /*height: 50px;*/
}

.good-groups-group-title-container{
    float: left;
    height: 30px;
    width: 100%;
}

.good-groups-group-title-container:hover{
    float: left;
    height: 30px;
    width: 100%;
    cursor: pointer;
    text-shadow: 4px 4px 10px #888888;
}

/* выбранная группа товара */
.good-groups-group-title-container-selected{
    background: url(images/line-reverse-gradient-darg-orange.svg) center;
    background-size: contain;
}

.catalogAdminPanel{
    float: left;
    width: 100%;
    height: 45px;
    padding: 5px 5px 5px 25px;
    /*background-color: #E8E8E8;*/
    background-color: white;
    /*margin-top: 15px;*/
}

.addTopLevelGroupButton {
    width: 60px;
    height: 35px;
    background-image: url("catalogPanelImg/plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 20px;
}

.goodGroupActionButton{
    float: right;
    /*margin-top: 20px;*/
}
