.good-view-dialog-container{
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 105px 70px 60px 220px;
    overflow: auto;
    background-color: white;
    border-radius: 4px;
    border: solid #cccccc 1px;
    z-index: 4;
    width: calc(100% - 325px);
    height: calc(100% - 150px);
    padding: 0 30px 10px 10px;
    box-shadow:  8px 9px 12px #555555;
}

/*контейнер для кнопки закрытия*/
.good-view-form-button-close-container {
    width: 40px;
    height: 55px;
    margin-bottom: -55px;
    margin-left: 253px;
    z-index: 2;
    position: absolute;
    top: 1px;
    left: calc(100% - 320px);
}

/*кнопка закрытия*/
.good-view-form-button-close {
    width: 33px;
    height: 33px;
    margin-top: 26px;
    margin-left: -9px;
    font-size: 25px;
    background-size: cover;
    background: url(images/button-black-crossover-with-circle-32.svg) no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}
.good-view-form-button-close:hover {
    opacity: 1;
}