/* контейнер виджета товара */
.good-widget-container {
    width: 300px;
    height: 370px;
    border: solid #cccccc 1px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 5px;
}
.good-widget-container:hover {
    box-shadow: 4px 4px 4px #b4b4b4;
}

/* главная фотка товара на виджете */
.good-widget-main-image {
    background: no-repeat center;
    background-size: contain;
    width: 100%;
    height: 280px;
    opacity: 0.9;

}
/* Главное изображение, когда на виджет наведена мышь */
.good-widget-container:hover div.good-widget-main-image {
    opacity: 1;
}

/* блок с названием товара */
.good-widget-title {
    font-size: 20px;
    width: 100%;
    margin-left: 11px;
    padding-right: 22px;
    overflow: hidden;
    height: 56px;
    margin-top: -9px;
}

/*контейнер для кнопки действий с товаром*/
.good-widget-button-tool-container {
    width: 40px;
    height: 55px;
    margin-bottom: -55px;
    margin-left: 253px;
    z-index: 2;
}

/*кнопка действий с товаром*/
.good-widget-button-tool {
    width: 33px;
    height: 33px;
    margin-top: 26px;
    margin-left: -9px;
    font-size: 25px;
    background-size: cover;
    background: url(images/button-options-with-gradient-circle-32.svg) no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}
.good-widget-button-tool:hover {
    opacity: 1;
}

/* Контейнер с ценой и кнопкой покупки */
.good-widget-container-price-and-buy{
    width: 100%;
    height: 25px;
    /*background-color: #7B7FD4;*/
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

/* надпись с ценой */
.good-widget-label-price{
    font-size: 20px;
    color: red;
    width: 105px;
}

/* поле с количеством заказываемого товара*/
.good-widget-field-quantity{
    font-size: 20px;
    width: 95px;
}

/* поле с количеством заказываемого товара*/
.good-widget-button-add-to-cart{
    width: 59px;
    height: 37px;
    margin-top: -6px;
    background: url(images/buyIco.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
}

