
.main-menu-container {
    width: 100%;
    height: 30px;
    padding-left: 25px;
    background: url(images/line-gradient-black.svg) no-repeat center;
    background-size: cover;
}

.topMenuMainPageItemContainer {
    padding-left: 30px;
}

.topMenu li {
}

.topMenu {
    width: 100%;
}

.menuBackground {
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -7px;
    text-align: center;
}

.topMenuItemContainer {
    margin-right: 15px;
    font-size: 18px;
    height: 100%;
}

.topMenuAuthItem {
    float: right;
}

.menuItemText {
    cursor: pointer;
}

.menuItemText:hover {
    color: #400000;
    cursor: pointer;
    text-shadow: 4px 4px 10px #888888;
}

.hrefTopMenuAuthItem {
    padding-right: 53px;
}