.photoSlider-main-div-container {
    border: solid #dddddd 1px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: stretch;*/
    /*justify-content: start;*/
}

.photoSlider-large-image-container{
    /*background-color: #46b8da;*/
    /*height: 100%;*/
    width: 100%;
    /*float: left;*/
    border-bottom: solid #dddddd 1px;
    transition: background-image 200ms ease-in;
    -webkit-transition: background-image 200ms ease-in;
    -moz-transition: background-image 200ms ease-in;
    -o-transition: background-image 200ms ease-in;
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 100%;
}

.photoSlider-bottom-container {
    display: flex;
}

.photoSlider-button-toBackward {
    float: left;
    height: 100%;
    width: 20px;
    background-image: url(../images/arrow_left_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    opacity: 0.6;
    /*margin-right: -20px;*/
}
.photoSlider-button-toBackward:hover{
    opacity: 1;
}


.photoSlider-button-toForward {
    float: right;
    width: 20px;
    height: 100%;
    background-image: url(../images/arrow_right_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    opacity: 0.6;
}
.photoSlider-button-toForward:hover{
    opacity: 1;
}

.photoSlider-scrollable-small-images-container{
    /*height: 100%;*/
    background-color: white;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-basis: 100%;

    /*temp*/
    /*width: 100%;*/
    /*margin-left: 24px;*/
}

.photoSlider-small-images-container{
    height: 100%;
    width: max-content;
}

.photoSlider-small-image-div:hover {
    transition: box-shadow 100ms ease-in;
    -webkit-transition: box-shadow 100ms ease-in;
    -moz-transition: box-shadow 100ms ease-in;
    -o-transition: box-shadow 100ms ease-in;
    box-shadow: 4px 4px 4px #aaaaaa;
}

.photoSlider-small-image-div {
    float: left;
    margin: 3px;
    border: solid white 3px;
    opacity: 0.8;
}

.photoSlider-small-image-div-active {
    border: solid orange 1px;
    box-shadow: 4px 4px 4px #b4b4b4;
}

.photoSlider-small-image-div-drag-over {
    border: solid #7B7FD4 2px;
}


.photoSlider-button-delete{
    width: 34px;
    height: 51px;
    font-size: 40px;
    margin-top: 28px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    background-size: cover;
    background: url(images/button-crossover-with-gradient-circle-32.svg) no-repeat center;
    opacity: 0.9;
}
.photoSlider-button-delete:hover {
    opacity: 1;
}