.shopping-cart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 17px;
    padding-top: 10px;
}

.shopping-cart-image-main {
    background: url(images/fineCart.png) no-repeat right;
    background-size: contain;
    width: 100%;
    height: 121px;
}