.topPanel {
    width: 100%;
    height: 170px;
    /*background-color: #28a4c9;*/
}

/* Ячейка с визиткой сайта */
.top-panel-td-wildcard {
    width: 350px;
    height: 100%;
    background-color: white;
}

/* Контейнер визитки сайта */
.top-panel-wildcard-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 29px;
    padding-top: 10px;
}

/* Изображение визитки сайта */
.top-panel-wildcard-image-main{
    width: 100%;
    height: 100%;
    background: url(images/leaf.png) no-repeat left;
    background-size: contain;
}

.contactInfo{
    /*width: 450px;*/
    height: 100%;
    /*background-color: #580f00;*/

}

.promo{
    /*width: 450px;*/
    height: 100%;
    /*background-color: #f8ff0d;*/

}

.top-panel-td-cart {
    width: 260px;
    height: 100%;
    background-color: white;
}

