.pageGoodGroupForm {
    width: 100%;
    height: 100%;
}

.good-group-form-attributes-table{
    width: 100%;
    border: solid black 1px;
}

.good-group-form-attributes-table td{
    border-right: solid gray 1px;
}

.good-group-form-attributes-table td:last-child{
    border-right: none;
}

.good-group-form-attributes-table tr{
    border-bottom: solid #404040 1px;
    cursor: default;
}

/* маркерный класс для  .good-group-form-attributes-table tr.good-group-form-attributes-table-row:hover */
.good-group-form-attributes-table-row:hover{
    background-color: #f0eded;
    color: #300000;
}

.good-group-form-attributes-tr-selected{
    background-color: #e0d0d0;
    color: #400000;
}

.good-group-form-attributes-tr-selected:hover{
    background-color: #eadada;
    color: #400000;
}

.good-group-form-attributes-table tr:last-child{
    border-bottom: none;
}

.good-group-form-attributes-table-header{
    font-size: 16px;
    background-color: #e0e0e0;
}

.good-group-form-attributes-table-header td{
    margin: 1px 5px 1px 5px;
}

/* Контейнер формы добавления / редактирования атрибута */
.good-attribute-form-container{
    width: 700px;
    height: auto;
}

.ui-dialog{
    border-radius: 4px;
    box-shadow: 4px 4px 4px #606060;
    border:solid #404040 1px;
}

.good-attribute-form-form{
    width: 100%;
    height: 100%;
}

.good-attribute-form-title{
    width: 100%;
    font-size: 23px;
    text-align: center;
    height: 50px;
}

.good-attribute-form-row-container{
    height: 40px;
}

.good-attribute-form-submit-container{
    height: 60px;
    padding-top: 20px;
}

.good-attribute-form-field-label{
    width: 250px;
    padding: 3px 0 2px 10px;
    font-size: 15px;
}

.good-attribute-form-field-container{
    width: 100%;
    padding-top: 2px;
    padding-right: 10px
}

.good-group-form-attributes-tool-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    padding: 3px 20px 3px 10px;
    margin-left: -20px;
}

.good-group-form-attributes-tool-button {
    padding-right: 40px;
}

.good-attribute-form-field-container select{
    width: 100%;
    height: 24px;
}

.good-attribute-form-field-container input{
    width: 100%;
}

.good-attribute-form-field-container checkbox{
    width: 30px;
}

