.good-view-form-container {
    align-items: center;
    padding-top: 15px;
    width: 100%;
    height: 100%;
}

/* Контейнер для контейнера с изображениями и описаниями */
.good-view-form-container-image-and-description {
    width: 100%;
    height: 100%
}

/* Контейнер для карусели фото и, находящимся ниже, контейнера для добавления товара в корзину */
.good-view-form-container-images-and-buy{
    width: auto;
    float: left;
    height: fit-content;
    margin: 10px 20px 20px 10px;
}

/* Контейнер для карусели фоток товара */
.good-view-image-carousel {
}

/* описание товара */
.good-view-good-description {
    /*width: 100%;*/
    /*height: auto;*/
    /*padding: 10px 10px 10px 20px;*/
    font-size: 16px;
}

/* Название товара */
.good-view-form-title {
    /*width: 100%;*/
    font-size: 33px;
    /*padding: 2px 20px 3px 20px;*/
    /*height: 66px;*/
}

/* Контейнер с элементами для добавления товара в корзину */
.good-view-form-container-buy{
    height: 48px;
    padding: 12px 3px 12px 346px;
}

/* Цена товара */
.good-view-form-good-price{
    font-size: 23px;
    color: red;
    padding-right: 20px;
    cursor: default;
}

/* Кол-во товара для заказа */
.good-view-form-good-quantity-to-buy{
    height: 26px;
    font-size: 23px;
    width: 140px;
}