.pageGoodsListTable {
    width: 100%;
    height: 100%;
    background-color: white;
}

.goodsFilterPanel {

}

.filtersContainer{

}

.sliderIcons{
    /*background-image: url("../images/buttons.jpg");*/
    /*position: relative;*/
    opacity: 0.5;
    cursor: default;
}

.sliderIcons:hover{
    /*background-image: url("../images/buttons.jpg");*/
    /*position: relative;*/
    opacity: 1;
    cursor: default;
}

.goodsFilterSliderShow {
    height: 20px;
    text-align: center;
    padding-top: 12px;
    /*background-position: -250px -130px;*/
    /*transform: matrix(1, 0, 0, -1, 0, 0);*/
    /*background-color: #dddddd;*/
}

.goodsFilterSliderHide {
    height: 20px;
    text-align: center;
    padding-top: 12px;
    /*background-position: -250px -130px;*/
    /*background-color: #dddddd;*/
}

.textOnFilterSlider {
    background-color: white;
    margin-top: -12px;
    width: 76px;
    margin-left: 44%;
}

.lineOnFilterSlider{
    height: 2px;
    width: 100%;
    background-color: #dddddd;
    margin-top: 0px;
}

.goodsListSubGroupContainer{
    width: 222px;
    height: 250px;
    padding: 4px 10px;
    border: solid 1px #cccccc;
    border-radius: 2px;
    float: left;
    margin: 0px 7px 10px 7px;
}

.goodsListSubGroupContainer-ext {
    transition: box-shadow 200ms ease-in;
    -webkit-transition: box-shadow 200ms ease-in;
    -moz-transition: box-shadow 200ms ease-in;
    -o-transition: box-shadow 200ms ease-in;
    box-shadow: 4px 4px 4px #b4b4b4;
}

.goodsListSubGroupContainer-ext:hover {
    box-shadow: 7px 7px 7px #747474;
    /*margin-left: -3px;*/
    /*margin-top: -3px;*/
}

.goodsListSubGroupIcon{
    opacity: 0.7;
    cursor: pointer;
}

.goodsListGroupRefContainer {
    padding-bottom: 21px;
}

.goodsListSubGroupTitle {
    width: 100%;
    float: left;
    text-align: center;
    color: #000088;
}

.goodsListSubGroupTitle h1{
    cursor: pointer;
    font-size: 18px;
    margin-top: -10px;
}

.goodsListToolsContainer {
    width: 100%;
    height: 34px;
    padding: 3px;
    /*background-color: #c8e5bc;*/
}

.goodsListContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}